.holder {
	margin: auto;
	display: inline-block;
	height: 300px;
	width: 400px;
	float:right;
}

.img {
	margin: auto;
	display: block;
	/*position: fixed;
	z-index: 0;
	/*border: solid black 10px;*/
}

body {
	background-color: black;
}

h1 {
	color: white;
}

#frame {
	margin:auto;
	height:600px;
	width:1200px;
	border:solid white 5px;
}
